#confirm-dialog {
  @include fix-centered;
  @include flex-center(inline-block);
  @include shadow;
  @include round-border;
  padding: var(--spacing-medium);
  background-color: var(--color-primary-surface);
  max-height: calc(100% - var(--spacing-huge) * 3);
  max-width: calc(100% - var(--spacing-huge) * 3);
  width: 450px;

  .message {
    margin-top: 0;
  }

  .action-buttons {
    text-align: end;
  }
}

.throw-enter-active,
.throw-leave-active {
  transition: transform var(--transition-duration-medium)
      var(--transition-timing-function-motion),
    opacity var(--transition-duration-medium)
      var(--transition-timing-function-display);
}

.throw-leave-to {
  opacity: 0;
  transform: translateX(120%) rotate(0.5turn);
}

.throw-enter-from {
  opacity: 0;
  transform: translateX(-120%) rotate(-0.5turn);
}
