#confirm-dialog,
#config-piece-dialog {
  @include fix-centered;
  @include flex-center(inline-block);
  @include shadow;
  @include round-border;
  padding: var(--spacing-medium);
  background-color: var(--color-primary-surface);
  max-height: calc(100% - var(--spacing-huge) * 3);
  max-width: calc(100% - var(--spacing-huge) * 3);
  width: 450px;

  .action-buttons {
    text-align: end;
  }
}

#confirm-dialog > .message {
  .message {
    margin-top: 0;
  }
}

#config-piece-dialog {
  display: flex;
  flex-direction: column;
  align-items: normal;

  .piece-preview {
    @include flex-center;

    .icon {
      filter: var(--svg-shadow-filter);
      padding: var(--spacing-medium);
      width: 65px;
      height: 65px;
    }
  }
}

.throw-enter-active {
  transition: transform var(--transition-duration-short)
      var(--transition-timing-jump),
    opacity var(--transition-duration-short) linear;
}

.throw-leave-active {
  transition: transform var(--transition-duration-medium)
      var(--transition-timing-jump),
    opacity var(--transition-duration-medium) linear;
}

.throw-leave-to {
  opacity: 0;
  transform: translateX(100%) rotate(0.5turn);
}

.throw-enter-from {
  opacity: 0;
  transform: translateY(-5px);
}
