nav {
  @include shadow;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: fixed;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background-color: var(--color-primary-surface);
  padding: var(--spacing-small);
  max-width: 450px;

  button {
    justify-content: left;
    display: flex;
  }

  .nav-placeholder {
    height: 72px;
  }
}
