nav {
  @include shadow;
  @include flex-center;
  @include no-overrender;
  border-top: var(--border-width) solid var(--color-primary-accent);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  flex-direction: column;
  background-color: var(--color-primary-surface);

  .action-buttons {
    @include no-shrink;
    @include flex-center;
    width: 100%;
    padding: var(--spacing-small) 0;

    button {
      margin: var(--spacing-small);
    }
  }
}

#open-menu-chevron {
  transition: transform var(--transition-duration-medium)
    var(--transition-timing-function-motion);

  &.open {
    transform: rotateX(0.5turn);
  }
}
