// Land
.land-enter-active {
  transition: transform var(--transition-duration-medium)
      var(--transition-timing-jump),
    opacity var(--transition-duration-medium) linear;
}

.land-enter-from {
  transform: translateY(-5px);
  opacity: 0;
}

// Throw

.throw-enter-active {
  transition: transform var(--transition-duration-short)
      var(--transition-timing-jump),
    opacity var(--transition-duration-short) linear;
}

.throw-leave-active {
  transition: transform var(--transition-duration-medium)
      var(--transition-timing-jump),
    opacity var(--transition-duration-medium) linear;
}

.throw-leave-to {
  opacity: 0;
  transform: translateX(100%) rotate(0.5turn);
}

.throw-enter-from {
  opacity: 0;
  transform: translateY(-5px);
}

// Slide up
.slide-up-enter-active,
.slide-up-leave-active {
  transition: transform var(--transition-duration-medium)
    var(--transition-timing-jump);
}

.slide-up-enter-from,
.slide-up-leave-to {
  transform: translateY(100%);
}

// [Group] Scale
.scale-move,
.scale-enter-active,
.scale-leave-active {
  transition: transform var(--transition-duration-medium)
    var(--transition-timing-jump);
}

.scale-enter-from,
.scale-leave-to {
  transform: scale(0);
}

.scale-leave-active {
  position: absolute;
}

// [Group] Piece
.piece-leave-active,
.piece-enter-active {
  transition: transform var(--transition-duration-long)
      var(--transition-timing-jump),
    opacity var(--transition-duration-long) linear;
}

.piece-enter-from {
  opacity: 0;
  transform: translateY(-15px) scale(1.1);
}

.piece-leave-to {
  opacity: 0;
  transform: translateY(-100px) rotate(135deg) scale(2);
}

.board.rotated {
  .piece-enter-from {
    opacity: 0;
    transform: translateY(15px) scale(1.1);
  }

  .piece-leave-to {
    opacity: 0;
    transform: translateY(100px) rotate(-135deg) scale(2);
  }
}

// [Group] Slide left
.slide-left-move,
.slide-left-enter-active,
.slide-left-leave-active {
  transition: all var(--transition-duration-medium)
    var(--transition-timing-jump);
}

.slide-left-enter-from,
.slide-left-leave-to {
  opacity: 0;
  transform: translateX(20%);
}

.slide-left-leave-active {
  position: absolute;
}

// [Group] Slide down
.slide-down-move,
.slide-down-enter-active,
.slide-down-leave-active {
  transition: all var(--transition-duration-medium)
    var(--transition-timing-jump);
}

.slide-down-enter-from,
.slide-down-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}

.slide-down-leave-active {
  position: absolute;
}

// [Group] Opacity
.opacity-move,
.opacity-enter-active,
.opacity-leave-active {
  transition: all var(--transition-duration-medium) ease;
}

.opacity-enter-from,
.opacity-leave-to {
  opacity: 0;
}

.opacity-leave-active {
  position: absolute;
}
