html {
  // ===== Global properties =====
  background-color: var(--color-primary-surface);
  color: var(--color-primary-text);
  font-family: "JetBrains Mono", system-ui, Arial;
  font-weight: normal;
  font-size: var(--font-size-medium);
  -webkit-tap-highlight-color: var(--color-primary-accent-transparent);

  // ===== General =====
  --border-radius: 9px;
  --border-width: 3px;
  --cell-index-opacity: 0.8;
  --piece-padding: 5px;
  --piece-stroke-width: 1.1px;

  // ===== Box shadow =====
  --box-shadow-offset-x: 0;
  --box-shadow-offset-y: 0;
  --box-shadow-offset-blur: 5px;
  --box-shadow-offset-spread: 0;
  --box-shadow-color: rgba(0, 0, 0, 0.75);
  --box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y)
    var(--box-shadow-offset-blur) var(--box-shadow-offset-spread)
    var(--box-shadow-color);
  --svg-shadow-filter: drop-shadow(
    var(--box-shadow-offset-x) var(--box-shadow-offset-x) 2px
      var(--box-shadow-color)
  );

  // ===== Z-index layers =====
  --z-index-alert: 7;
  --z-index-splashscreen: 6;
  --z-index-modal-top: 5;
  --z-index-modal: 4;
  --z-index-top-fragment: 4;
  --z-index-piece-top: 3;
  --z-index-mark: 2;

  // ===== Transition =====
  --transition-duration-multiplier-config: 1;
  --transition-duration-multiplier: var(
    --transition-duration-multiplier-config
  );
  --transition-duration-short: calc(
    100ms * var(--transition-duration-multiplier)
  );
  --transition-duration-medium: calc(
    200ms * var(--transition-duration-multiplier)
  );
  --transition-duration-long: calc(
    300ms * var(--transition-duration-multiplier)
  );
  --transition-duration-delayed: calc(
    400ms * var(--transition-duration-multiplier)
  );
  --transition-duration-calm: calc(
    2000ms * var(--transition-duration-multiplier)
  );
  --transition-duration-splashscreen: 500ms;
  --transition-timing-bounce: cubic-bezier(0.5, 1.25, 0.55, 1.05);
  --transition-timing-jump: cubic-bezier(0.35, 1, 0.5, 1);

  // ===== Font size =====
  --font-size-multiplier: 1;
  --font-size-tiny: calc(0.6rem * var(--font-size-multiplier));
  --font-size-small: calc(0.8rem * var(--font-size-multiplier));
  --font-size-medium: calc(1rem * var(--font-size-multiplier));
  --font-size-big: calc(1.2rem * var(--font-size-multiplier));
  --font-size-large: calc(1.5rem * var(--font-size-multiplier));
  --font-size-huge: calc(1.8rem * var(--font-size-multiplier));
  --font-size-enormous: calc(2.1rem * var(--font-size-multiplier));

  // ===== Spacing =====
  --spacing-multiplier: 1;
  --spacing-tiny: calc(5px * var(--spacing-multiplier));
  --spacing-small: calc(8px * var(--spacing-multiplier));
  --spacing-medium: calc(12px * var(--spacing-multiplier));
  --spacing-big: calc(16px * var(--spacing-multiplier));
  --spacing-large: calc(20px * var(--spacing-multiplier));
  --spacing-huge: calc(24px * var(--spacing-multiplier));
  --spacing-enormous: calc(28px * var(--spacing-multiplier));

  // ===== Hue =====
  --H-player: 30;
  --H-opponent: 221;
  --H-primary: var(--H-player);
  --H-piece-white: var(--H-player);
  --H-piece-black: var(--H-opponent);
  --H-error: 0;

  // ===== Saturation =====
  --S-primary-text-active: 5%;
  --S-primary-surface-active: 5%;
  --S-primary-surface-top-active: 5%;
  --S-primary-surface-accent-active: 30%;
  --S-primary-accent-active: 55%;
  --S-cell-active: 0%;
  --S-piece-fill-active: 60%;
  --S-piece-stroke-active: 60%;
  --S-backdrop-active: 6%;

  --S-primary-text: 0%;
  --S-primary-surface: 0%;
  --S-primary-surface-top: 0%;
  --S-primary-surface-accent: 0%;
  --S-primary-accent: 0%;

  --S-cell: 0%;
  --S-piece-fill: 0%;
  --S-piece-stroke: 0%;
  --S-backdrop: 0%;

  --S-error-text: 45%;
  --S-error-surface: 45%;
  --S-error-surface-top: 55%;
  --S-error-accent: 85%;

  // ===== Lightness =====
  // Light mode
  --L-light-text: 5%;
  --L-light-surface: 85%;
  --L-light-surface-top: 95%;
  --L-light-surface-accent: 80%;
  --L-light-accent: 36%;
  --L-light-cell-white: 76%;
  --L-light-cell-black: 23%;
  --L-light-piece-fill-white: 79%;
  --L-light-piece-fill-black: 23%;
  --L-light-piece-stroke-white: 23%;
  --L-light-piece-stroke-black: 79%;
  --L-light-backdrop: 100%;

  // Dark mode
  --L-dark-text: 95%;
  --L-dark-surface: 10%;
  --L-dark-surface-top: 16%;
  --L-dark-surface-accent: 25%;
  --L-dark-accent: 66%;
  --L-dark-cell-white: 76%;
  --L-dark-cell-black: 23%;
  --L-dark-piece-fill-white: 79%;
  --L-dark-piece-fill-black: 23%;
  --L-dark-piece-stroke-white: 23%;
  --L-dark-piece-stroke-black: 79%;
  --L-dark-backdrop: 0%;

  // Current
  --L-text: var(--L-dark-text);
  --L-surface: var(--L-dark-surface);
  --L-surface-top: var(--L-dark-surface-top);
  --L-surface-accent: var(--L-dark-surface-accent);
  --L-accent: var(--L-dark-accent);
  --L-cell-white: var(--L-dark-cell-white);
  --L-cell-black: var(--L-dark-cell-black);
  --L-backdrop: var(--L-dark-backdrop);
  --L-piece-fill-white: var(--L-dark-piece-fill-white);
  --L-piece-fill-black: var(--L-dark-piece-fill-black);
  --L-piece-stroke-white: var(--L-dark-piece-stroke-white);
  --L-piece-stroke-black: var(--L-dark-piece-stroke-black);

  // ===== Alpha =====
  --A-backdrop: 85%;

  // ===== Primary =====
  // Text
  --color-primary-text: hsl(
    var(--H-primary),
    var(--S-primary-text),
    var(--L-text)
  );

  // Surface
  --color-primary-surface: hsl(
    var(--H-primary),
    var(--S-primary-surface),
    var(--L-surface)
  );

  // Surface top
  --color-primary-surface-top: hsl(
    var(--H-primary),
    var(--S-primary-surface-top),
    var(--L-surface-top)
  );

  // Surface accent
  --color-primary-surface-accent: hsl(
    var(--H-primary),
    var(--S-primary-surface-accent),
    var(--L-surface-accent)
  );

  // Player surface accent
  --color-player-surface-accent: hsl(
    var(--H-player),
    var(--S-primary-surface-accent),
    var(--L-surface-accent)
  );

  // Opponent surface accent
  --color-opponent-surface-accent: hsl(
    var(--H-opponent),
    var(--S-primary-surface-accent),
    var(--L-surface-accent)
  );

  // Accent
  --color-primary-accent: hsl(
    var(--H-primary),
    var(--S-primary-accent),
    var(--L-accent)
  );

  // Accent transparent
  --color-primary-accent-transparent: hsla(
    var(--H-primary),
    var(--S-primary-accent),
    var(--L-accent),
    40%
  );
  // ===== Error ===== // Text
  --color-error-text: hsl(var(--H-error), var(--S-error-text), var(--L-text));

  // Surface
  --color-error-surface: hsl(
    var(--H-error),
    var(--S-error-surface),
    var(--L-surface)
  );

  // Surface top
  --color-error-surface-top: hsl(
    var(--H-error),
    var(--S-error-surface-top),
    var(--L-surface-top)
  );

  // Accent
  --color-error-accent: hsl(
    var(--H-error),
    var(--S-error-accent),
    var(--L-accent)
  );

  // ===== Other =====
  // Cell
  --color-cell-white: hsl(var(--H-primary), var(--S-cell), var(--L-cell-white));
  --color-cell-black: hsl(var(--H-primary), var(--S-cell), var(--L-cell-black));

  // Piece
  --color-piece-fill-black: hsl(
    var(--H-piece-black),
    var(--S-piece-fill),
    var(--L-piece-fill-black)
  );
  --color-piece-fill-white: hsl(
    var(--H-piece-white),
    var(--S-piece-fill),
    var(--L-piece-fill-white)
  );
  --color-piece-stroke-black: hsl(
    var(--H-piece-black),
    var(--S-piece-stroke),
    var(--L-piece-stroke-black)
  );
  --color-piece-stroke-white: hsl(
    var(--H-piece-white),
    var(--S-piece-stroke),
    var(--L-piece-stroke-white)
  );

  // Backdrop
  --color-backdrop: hsla(
    var(--H-primary),
    var(--S-backdrop),
    var(--L-backdrop),
    var(--A-backdrop)
  );
}
