@import "./partials/mixins";

@font-face {
  font-family: "JetBrains Mono";
  src: url("assets/fonts/JetBrainsMono-Regular.woff2") format("woff2"),
    url("assets/fonts/JetBrainsMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("assets/fonts/JetBrainsMono-Italic.woff2") format("woff2"),
    url("assets/fonts/JetBrainsMono-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

::selection {
  background-color: var(--color-primary-accent);
  color: var(--color-primary-surface);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @include round-border;
  background: var(--color-primary-surface-top);
}

::-webkit-scrollbar-thumb {
  @include round-border;
  background: var(--color-primary-accent);
}

[hidden] {
  display: none !important;
}

body {
  margin: 0;
}

a {
  color: var(--color-primary-accent);
}

button,
input,
textarea,
select {
  @include shadow;
  @include round-border;
  padding: var(--spacing-tiny);
  border: none;
  outline-color: transparent;
  font-family: inherit;
  font-weight: inherit;
}

input,
textarea,
select {
  background-color: var(--color-primary-surface-top);
  color: inherit;
  border: var(--border-width) solid var(--color-primary-accent);
  margin: var(--spacing-small);
}

input[type="number"] {
  max-width: 80px;
}

input[type="search"] {
  @include fill-availible;
}

select,
button {
  @include clickable;
}

input,
button {
  &.single {
    margin: var(--spacing-big) 0;
  }
}

button {
  @include no-overrender;
  @include round-border;
  @include flex-center(inline-flex);
  box-sizing: content-box;
  margin: var(--spacing-small);
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--color-primary-surface-accent);
  color: var(--color-primary-text);
  padding: var(--spacing-tiny) var(--spacing-big);

  &:hover:not(.checkbox, .set-time-duration),
  &:focus:not(.checkbox, .set-time-duration) {
    outline: var(--border-width) solid var(--color-primary-accent);
  }
}

button.form {
  background-color: var(--color-primary-surface-top);
}

dialog {
  color: inherit;
  border: none;
}

input + label,
textarea + label {
  padding: var(--spacing-tiny) 0;
  display: block;
  font-size: var(--font-size-tiny);
  font-style: italic;
}

label {
  @include clickable;
}

h1,
h2,
h3 {
  text-transform: none;
  text-align: left;
  flex-grow: 1;
}

h1 {
  text-align: center;
  font-size: var(--font-size-enormous);
}

h2 {
  font-size: var(--font-size-huge);
}

h3 {
  font-size: var(--font-size-big);
}

#app {
  @include screen;
  @include no-overflow;
  @include no-overrender;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: var(--app-transform);
}

.placeholder {
  flex-shrink: 0;
}

.version {
  @include inverted-accent;
  @include round-border;
  padding: var(--spacing-tiny);
  font-size: var(--font-size-tiny);
}

header.version {
  @include shadow;
}

.icon {
  @include no-select;
  @include no-shrink;
  margin: var(--spacing-tiny);
  width: var(--font-size-huge);
  height: var(--font-size-huge);
  display: inline;
  fill: currentColor;

  &.side {
    margin: var(--spacing-tiny) var(--spacing-medium) var(--spacing-tiny) 0;
  }

  &.big {
    width: var(--font-size-enormous);
    height: var(--font-size-enormous);

    &.side {
      margin: var(--spacing-tiny) var(--spacing-big) var(--spacing-tiny) 0;
    }
  }
}
